/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('./quiz/pexels-kasuma-426894.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: top;
  width: 90%;
  max-width: 500px;
  margin: 20px;
  animation: fadeIn 1s ease-in-out;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
  animation: slideInFromTop 0.5s ease-in-out;
}

.subtitle {
  font-size: 1.3em;
  margin-bottom: 20px;
  color: #666;
}

.description {
  font-size: 1.1em;
  margin-bottom: 30px;
  color: #555;
  animation: fadeIn 1s ease-in-out 0.5s;
}

button {
  padding: 15px 40px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out 1s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.footer {
  margin-top: 20px;
  font-size: 0.9em;
  color: #aaa;
  animation: fadeIn 1s ease-in-out 1.5s;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #000105;
  border: 1px solid lightgray;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: fadeIn 1s ease-in-out;
}

.li-hover:hover {
  background-color: #d8d8d8;
  color: #000;
  transform: scale(1.02);
}

.li-selected {
  color: #fff;
  background-color: #000925;
  transform: scale(1.05);
}

.quiz-container {
  background-color: #f8f8f8;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
  animation: fadeIn 1s ease-in-out;
}

.container p {
  padding: 8px 0;
  animation: fadeIn 1s ease-in-out;
}

.result-container button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: fadeIn 1s ease-in-out;
}

.result-container button:hover {
  background-color: #e53935;
  transform: scale(1.05);
}



/* Progress Bar Styles */
.progress-bar-container {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #0d6b09;
  width: 0%;
  transition: width 0.4s ease;
}

/* Keyframes for animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar {
  width: 100%;
  background-color: #0070f3;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #888;
}
